<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">admin</field>
    <field id="created">2013-01-09 22:56:36.458 +0100</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=DP-110"></h1><div id="polarion_wiki macro name=toc"></div><h2 id="polarion_wiki macro name=module-workitem;params=id=DP-111"></h2><h3 id="polarion_wiki macro name=module-workitem;params=id=DP-112"></h3><p id="polarion_merged_1">
  The System Test Specification collects test cases that are intended to be used to test the full system or the collection of system requirements  and specifies the details of the test approach.
</p><h3 id="polarion_wiki macro name=module-workitem;params=id=DP-113"></h3><p id="polarion_merged_8">
  DrivePilot is an Auto Pilot application for automotive vehicles of all types.  There will be an OEM application as well as a aftermarket installation kit for existing popular automobiles manufactured after 2006. This test specification collects all the test cases that verify the system specification for the DrivePilot application.
</p><h3 id="polarion_wiki macro name=module-workitem;params=id=DP-326"></h3><p id="polarion_merged_3">
  No applicable reference.
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=DP-115"></h2><p id="polarion_merged_4">
  All the system requirements from the <span id="WIKI_LINK:Requirements.System Requirements|System Requirements"></span>  specification need to be covered by test cases collected in this document.
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=DP-116"></h2><p id="polarion_merged_0">
  The tests are performed using the approach documented in <span id="WIKI_LINK:Requirements.System Validation and Verification Plan|System Validation and Verification Plan"></span> 
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=DP-117"></h2><h3 id="polarion_wiki macro name=module-workitem;params=id=DP-327"></h3><div id="polarion_wiki macro name=module-workitem;params=id=DP-224"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-472"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-473"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-474"></div><p id="polarion_cleaned_0"></p>]]></field>
    <field id="outlineNumbering">
        <struct/>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">System Test Case</item>
                <item id="layouter">titleTestSteps</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">status</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">systemTestCase</item>
            </struct>
        </list>
    </field>
    <field id="structureLinkRole">parent</field>
    <field id="usesOutlineNumbering">true</field>
</module>
