<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="usesOutlineNumbering">true</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=DP-197"></h1><h2 id="polarion_wiki macro name=module-workitem;params=id=DP-198"></h2><h3 id="polarion_wiki macro name=module-workitem;params=id=DP-199"></h3><div id="polarion_wiki macro name=module-workitem;params=id=DP-200"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-201"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-202"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-203"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-204"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-205"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=DP-206"></h3><p id="polarion_merged_1">
  <img src="attachment:diagram_20130124-1655.39751.png"/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=DP-207"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-209"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-441"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-210"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-211"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=DP-212"></h3><p id="polarion_merged_2">
  <img src="attachment:diagram_20130124-1710.31728.png"/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=DP-214"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-217"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-442"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-218"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-443"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-444"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-445"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=DP-219"></h3><p id="polarion_merged_3">
  <img src="attachment:diagram_20130124-1718.48611.png"/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=DP-220"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-221"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-223"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=DP-446"></h3><div id="polarion_wiki macro name=module-workitem;params=id=DP-447"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-448"></div><p id="polarion_1"></p>]]></field>
    <field id="structureLinkRole">parent</field>
    <field id="outlineNumbering">
        <struct>
            <item id="prefix"/>
        </struct>
    </field>
    <field id="author">admin</field>
    <field id="created">2013-01-09 22:59:54.928 +0100</field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="layouter">section</item>
                <item id="label">Task</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="value">id</item>
                            <item id="key">fieldsAtStart</item>
                        </struct>
                        <struct>
                            <item id="value"/>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">task</item>
            </struct>
        </list>
    </field>
</module>
