<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">admin</field>
    <field id="created">2013-01-09 22:59:12.071 +0100</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=DP-189"></h1><h2 id="polarion_wiki macro name=module-workitem;params=id=DP-190"></h2><p id="polarion_merged_0">
  A <span style="font-weight: bold;">failure modes and effects analysis (FMEA)</span> is a procedure in product development and operations management for analysis of potential failure modes within a system for classification by the severity and likelihood of the failures. A successful FMEA activity helps a team to identify potential failure modes based on past experience with similar products or processes, enabling the team to design those failures out of the system with the minimum of effort and resource expenditure, thereby reducing development time and costs. It is widely used in manufacturing industries in various phases of the product life cycle and is now increasingly finding use in the service industry. Failure modes are any errors or defects in a process, design, or item, especially those that affect the customer, and can be potential or actual. Effects analysis refers to studying the consequences of those failures.
</p><p id="polarion_merged_1">
  This <span style="font-weight: bold;">FMEA Study</span> document collects the potential failures.
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=DP-194"></h2><div id="polarion_wiki macro name=module-workitem;params=id=DP-195"></div><div id="polarion_wiki macro name=module-workitem;params=id=DP-370"></div><h2 id="polarion_wiki macro name=module-workitem;params=id=DP-196"></h2><p id="polarion_merged_6">
  Full FMEA Worksheet is available: <span id="WIKI_LINK:Risks.FMEA Worksheet|FMEA Worksheet"></span>
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=DP-371"></h2><div id="polarion_editor_html_block_merged_0" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">Browse the Requirements and Design items assessed by potential failures using: 
{portallink:/wiki/Requirements/System Requirements?link_role=parent,refines,assesses&amp;tree_depth=5&amp;tab=tree|addcontext=yes}*Requirements - Design - Risk Traceability Tree*{portallink}</pre>
</div><p id="polarion_1"></p>]]></field>
    <field id="outlineNumbering">
        <struct/>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Risk</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">status,rpn</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">risk</item>
            </struct>
        </list>
    </field>
    <field id="structureLinkRole">parent</field>
    <field id="usesOutlineNumbering">true</field>
</module>
